@use "../../styles/variables" as *;

#details {
  width: 100%;

  .details-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .details-list {
    list-style: none;
    padding: 0;
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

    &::after {
      content: "";
      position: absolute;
      display: block;
      left: 41.65%;
      top: 0;
      height: 100%;
      width: 2px;
      background-color: $color-accent;
      transition: 0.5s;
      border-radius: 10px;
    }
  }

  .details-list__item {
    display: flex;
  }

  .details-list__label {
    color: $color-primary;
    font-size: 0.9375rem;
    text-align: right;
    // width: 280px;
    flex: 5;
    padding: 27px 18px 27px 0;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-transform: uppercase;
  }

  .details-list__value {
    color: $color-primary;
    font-size: 1.125rem;
    text-align: left;
    opacity: 0.3;
    // width: 600px;

    flex: 7;
    padding: 27px 0 27px 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
  }
}
