@use "../variables" as *;

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2em;

  &__logo {
    font-size: 1.5em;
    color: $color-primary;
    text-decoration: none;
  }

  &__links {
    display: flex;
    gap: 2em;
  }

  &__link {
    font-size: 1em;
    color: $color-primary;
    text-decoration: none;

    &:hover {
      color: $color-accent;
    }
  }

  &__cta {
    font-size: 0.9em;
    color: $color-bg;
    background-color: $color-primary;
    text-decoration: none;
    padding: 0.5em 1.5em;
    border-radius: 2em;
    transition: background-color 0.2s;

    &:hover {
      background-color: $color-accent;
    }
  }
}
