@use "../../styles/variables" as *;

#timeline {
  .timeline-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .timeline {
    display: flex;
    // align-items: flex-start;
    align-items: stretch;
    position: relative;
    padding: 2em 0;

    @media only screen and (max-width: 1000px) {
      flex-direction: column;
      align-items: center;
    }
  }

  .timeline__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-width: 7em;
    padding: 0 1.5em;
    position: relative;
    height: 100%;
    letter-spacing: 0;

    &:not(:last-child)::before {
      content: "";
      position: absolute;
      top: 50px;
      left: 50%;
      height: 2px;
      width: 100%;
      z-index: -1;

      background-color: $color-primary-var2;
    }
  }

  .timeline__time {
    font-size: 1.5625em;
    color: $color-primary;
    margin-bottom: 0.4em;
  }

  .timeline__dot {
    position: relative;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: $color-primary;
    z-index: 1;
    flex-shrink: 0;
  }

  .timeline__icon {
    width: 120px;
    height: 80px;
    margin-top: 1em;
  }

  .timeline__title {
    font-size: 1.0625em;
    line-height: 1.29em;
    color: $color-primary-var2;
    margin-top: 2em;
    text-align: center;
    white-space: nowrap;
  }

  .timeline-locations {
    display: flex;
    align-items: center;
    margin-top: 2em;
    gap: 3em;
  }
}
