@use "../../styles/variables" as *;

.person-row {
  width: 100%;
  padding: 1em 0;
  flex-direction: column;
  gap: 0.6em;

  border-bottom: 1px solid rgba($color-primary-var3, 0.3);

  &:last-child {
    border-bottom: none;
  }

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__info {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__name {
    font-size: 1.1rem;
    color: $color-primary;
  }

  &__timestamp {
    font-size: 0.85rem;
    color: $color-primary-var3;
    letter-spacing: 0.05em;

    strong {
      font-weight: 700;
    }

    &--warning {
      color: #c49a00;
    }
  }

  &__delete {
    background: none;
    border: none;
    font-size: 1.4rem;
    color: $color-primary-var3;
    cursor: pointer;
    min-width: 44px;
    min-height: 44px;
    margin-top: -12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s;
    flex-shrink: 0;

    &:hover {
      color: $color-accent;
    }
  }
}
