@use "../../styles/variables" as *;

.rsvp-modal {
  &__title {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 1em;
    color: $color-primary;
    letter-spacing: 0.2em;
  }

  &__loading {
    text-align: center;
    padding: 2em 0;
    color: $color-primary-var3;
  }

  &__error {
    text-align: center;
    padding: 1em;
    color: $color-accent;
  }

  &__retry {
    margin-top: 0.8em;
    padding: 0.5em 1.5em;
    font-size: 0.9em;
    letter-spacing: 0.1em;
    background-color: $color-primary;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: $color-primary-var2;
    }
  }

  &__search {
    p {
      text-align: center;
      margin-bottom: 1em;
      color: $color-primary-var3;
      font-size: 0.9em;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__people {
    margin-bottom: 1em;
  }

  &__add {
    margin-bottom: 1.5em;
  }

  &__add-select {
    width: 100%;
    padding: 0.6em 1em;
    font-size: 0.9em;
    border: 2px dashed $color-primary-var3;
    border-radius: 6px;
    background-color: transparent;
    color: $color-primary;
    cursor: pointer;
    letter-spacing: 0.1em;
    outline: none;

    &:focus {
      border-color: $color-primary;
    }
  }

  &__submit {
    width: 100%;
    padding: 0.8em;
    font-size: 1em;
    letter-spacing: 0.2em;
    background-color: $color-primary;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover:not(:disabled) {
      background-color: $color-primary-var2;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  &__submit-error {
    text-align: center;
    color: $color-accent;
    font-size: 0.85em;
    margin-bottom: 1em;
  }
}
