@use "../../styles/variables" as *;

.search-field {
  position: relative;
  width: 100%;

  &__input {
    width: 100%;
    padding: 0.8em 1em;
    font-size: 1rem;
    border: 2px solid $color-primary-var3;
    border-radius: 6px;
    background-color: #fff;
    color: $color-primary;
    outline: none;
    letter-spacing: 0.1em;
    box-sizing: border-box;

    &::placeholder {
      color: $color-primary-var3;
    }

    &:focus {
      border-color: $color-primary;
    }
  }

  &__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #fff;
    border: 2px solid $color-primary-var3;
    border-top: none;
    border-radius: 0 0 6px 6px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
  }

  &__item {
    padding: 0.7em 1em;
    cursor: pointer;
    color: $color-primary;
    letter-spacing: 0.1em;
    text-align: left;

    &--selected {
      background-color: rgba($color-primary, 0.1);
    }

    &--empty {
      cursor: default;
      color: $color-primary-var3;
      font-style: italic;
    }
  }
}
