@use "../variables" as *;

#landing {
  .landing-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.25em;
  }

  .landing-text {
    color: $color-primary;
    font-size: 1.25em;
    margin: 0;

    &--faded {
      opacity: 0.3;
    }
  }

  .landing-names {
    color: $color-primary;
    font-size: 36px;
    letter-spacing: 0.3em;
    padding-left: 0.3em;
    font-weight: 400;
    margin: 0;
    text-align: center;
  }

  .landing-date {
    color: $color-primary;
    font-size: 34px;
    letter-spacing: 0.8em;
    padding-left: 0.8em;
    font-weight: 400;
    margin: 0;
    text-align: center;
  }

  .landing-location {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25em;

    &__icon {
      width: 2em;
      height: 2em;
    }

    &__text {
      color: $color-accent;
      font-family: serif;
      font-size: 1.1em;
      margin: 0;
    }
  }

  .landing-rsvp {
    color: $color-primary;
    font-size: 1.25em;
    margin-top: 0.5em;
  }
}
