@use "../variables" as *;

#landing {
  .landing-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .landing-text {
    font-size: 14px;

    &--faded {
      opacity: 0.3;
    }

    &--big {
      font-size: 20px;
    }

    &.on {
      margin-top: -8px;
      margin-bottom: 8px;
    }
  }

  .landing-names {
    color: $color-primary;
    font-size: 36px;
    letter-spacing: 0.3em;
    padding-left: 0.3em;
    font-weight: 400;
    margin: 0;
    text-align: center;
  }

  .landing-date {
    color: $color-primary;
    font-size: 34px;
    letter-spacing: 0.8em;
    padding-left: 0.8em;
    font-weight: 400;
    margin: 0;
    text-align: center;
  }

  .landing-rsvp {
    font-size: 20px;
    font-weight: 700;
  }
}
