@use "sass:color";
@use "variables" as *;

@font-face {
  font-family: "Angella White";
  src: url("/fonts/Angella-White.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Birthstone";
  src: url("/fonts/Birthstone-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Breathing";
  src: url("/fonts/Breathing.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Catchy-Mager";
  src: url("/fonts/Catchy-Mager.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-section-title {
  font-family: "Angella White", cursive;
}
.font-decorative1 {
  // Seems to be for numbers above icons
  font-family: "Birthstone", cursive;
}
.font-decorative2 {
  // Seems to be used for titles of icons
  font-family: "Breathing", cursive;
}
.font-decorative3 {
  // Seems to be used only for the numbers on the landing page
  font-family: "Catchy-Mager", cursive;
}
.font-text {
  font-family: serif;
}
.font-text-2 {
  font-family: "Noto Serif", serif;
  letter-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
  color-scheme: light;
  scrollbar-gutter: stable;

  @media (max-width: $breakpoint-tablet) {
    font-size: 87.5%; // 14px
  }

  @media (max-width: $breakpoint-mobile) {
    font-size: 75%; // 12px
  }
}

body {
  margin: 0;
  background-color: $color-bg;
  color: $color-primary;
}

@media (forced-colors: active) {
  * {
    forced-color-adjust: none;
  }
}

body,
p,
a,
h2,
h3,
button {
  font-weight: 400;
  font-style: normal;
  font-kerning: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  letter-spacing: 0.279em;
}

.section {
  min-width: 100%;
  max-width: 100vw;
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;

  > * {
    max-width: 100%;
  }
}

h1 {
  font-family: "Angella White", cursive;
  font-size: 5rem;
  color: $color-accent;
  font-weight: 400;
  padding: 0 0.5em;
  text-align: center;
}

a {
  color: $color-primary;
  text-decoration: none;
  transition: all 0.3s;

  * {
    transition: all 0.3s;
  }

  &:hover {
    color: $color-accent;
    text-shadow: 0 0 10px $color-accent;
  }

  &:active {
    text-shadow: 0 0 8px $color-accent;
  }
}
