@use "sass:color";

@font-face {
  font-family: 'Angella White';
  src: url('/fonts/Angella-White.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Birthstone';
  src: url('/fonts/Birthstone-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Breathing';
  src: url('/fonts/Breathing.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Catch-Mager';
  src: url('/fonts/Catch-Mager.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-section-title {
  font-family: 'Angella White', serif;
}
.font-decorative1 { // Seems to be for numbers above icons
  font-family: 'Birthstone', cursive;
}
.font-decorative2 { // Seems to be used for titles of icons
  font-family: 'Breathing', cursive;
}
.font-decorative3 { // Seems to be used only for the numbers on the landing page
  font-family: 'Catch-Mager', cursive;
}
.font-text {
  font-family: serif;
}

$color-bg: color.adjust(#0077b2, $lightness: 48%);

body {
  margin: 0;
  background-color: $color-bg;
}

.section {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title {
  font-family: 'Angella White', serif;
  font-size: 3rem;
}

@import 'sections/landing';
@import 'sections/details';
@import 'sections/timeline';
@import 'sections/faqs';
@import 'sections/rsvp';
// @import 'sections/envelope';
