@use "sass:color";
@use "variables" as *;

@font-face {
  font-family: "Angella White";
  src: url("/fonts/Angella-White.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Birthstone";
  src: url("/fonts/Birthstone-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Breathing";
  src: url("/fonts/Breathing.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Catchy-Mager";
  src: url("/fonts/Catchy-Mager.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-section-title {
  font-family: "Angella White", cursive;
}
.font-decorative1 {
  // Seems to be for numbers above icons
  font-family: "Birthstone", cursive;
}
.font-decorative2 {
  // Seems to be used for titles of icons
  font-family: "Breathing", cursive;
}
.font-decorative3 {
  // Seems to be used only for the numbers on the landing page
  font-family: "Catchy-Mager", cursive;
}
.font-text {
  font-family: serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: $color-bg;
  color: $color-primary;
  font-weight: 400;
  font-style: normal;
  font-kerning: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
}

.section {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: "Angella White", cursive;
  font-size: 80px;
  color: $color-accent;
  font-weight: 400;
}

a {
  color: $color-primary;
  text-decoration: none;
  transition: all 0.3s;

  * {
    transition: all 0.3s;
  }

  &:hover {
    color: $color-accent;
    text-shadow: 0 0 6px $color-accent;
  }

  &:active {
    text-shadow: 0 0 0px $color-accent;
  }
}

$button-offset-click: 2px;
$button-offset-default: 5px;
$button-offset-hover: 8px;

.button {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-primary;
    clip-path: polygon(
      0% calc(50% - $button-offset-default),
      15% calc(100% - $button-offset-default),
      85% calc(100% - $button-offset-default),
      100% calc(50% - $button-offset-default),
      100% 50%,
      85% 100%,
      15% 100%,
      0% 50%
    );
    transition: clip-path 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }

  &__front {
    display: block;
    position: relative;
    color: #fff;
    font-weight: 700;
    background-color: $color-primary-var3;
    clip-path: polygon(15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%, 0% 50%);
    will-change: transform;
    transform: translateY(-$button-offset-default);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
    text-shadow: none;
  }

  &:hover {
    filter: brightness(110%);
  }

  &:hover::before {
    clip-path: polygon(
      0% calc(50% - $button-offset-hover),
      15% calc(100% - $button-offset-hover),
      85% calc(100% - $button-offset-hover),
      100% calc(50% - $button-offset-hover),
      100% 50%,
      85% 100%,
      15% 100%,
      0% 50%
    );
    transition: clip-path 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  }

  &:active::before {
    clip-path: polygon(
      0% calc(50% - $button-offset-click),
      15% calc(100% - $button-offset-click),
      85% calc(100% - $button-offset-click),
      100% calc(50% - $button-offset-click),
      100% 50%,
      85% 100%,
      15% 100%,
      0% 50%
    );
    transition: clip-path 34ms;
  }

  &:hover &__front {
    transform: translateY(-$button-offset-hover);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
    background-color: $color-accent;
  }

  &:active &__front {
    transform: translateY(-$button-offset-click);
    transition: transform 34ms;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}
