@use "sass:color";
@use "variables" as *;

@font-face {
  font-family: "Angella White";
  src: url("/fonts/Angella-White.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Birthstone";
  src: url("/fonts/Birthstone-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Breathing";
  src: url("/fonts/Breathing.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Catchy-Mager";
  src: url("/fonts/Catchy-Mager.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-section-title {
  font-family: "Angella White", cursive;
}
.font-decorative1 {
  // Seems to be for numbers above icons
  font-family: "Birthstone", cursive;
}
.font-decorative2 {
  // Seems to be used for titles of icons
  font-family: "Breathing", cursive;
}
.font-decorative3 {
  // Seems to be used only for the numbers on the landing page
  font-family: "Catchy-Mager", cursive;
}
.font-text {
  font-family: serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: $color-bg;
}

.section {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: "Angella White", cursive;
  font-size: 5em;
  color: $color-accent;
  font-weight: 400;
}
